<nav>
    <ul class="ula">
        <li class="lia">
            <a href="/">Home</a></li>
        <li class="lia">
            <a href="/contact">Profile</a></li>
        <li class="lia">
            <a href="/main">Main</a></li>
        <li class="lia">
            <a href="/contact">Contact Us</a></li>
        <li class="lia">
            <a href="#">Log Out</a></li>
    </ul>
</nav>