<html lang="en">

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie's Info </title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/ninja.css" type="text/css">

</head>

<body>

    <h1 class=pin>My To Do app</h1>
    <div class="todo-table">
        <% include partials/nav.ejs %>
            <h2> You Have
                <%= Count%> Movies
            </h2>
            <ul class="ulb">
                <% for (var i=0 ;i< Count; i++){%>
                    <li class=lib>
                        <a class="aa1" href='<%= Movies[i].Url %>'>
                            <%= Movies[i].name %>
                        </a>
                    </li>

                    <% } %>


            </ul>
    </div>

</body>

</html>