<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>
        Operation Succeeded
    </title>

    <meta name="description" content="A modal concept which aims to give a sense of depth between the page and modal layers">
    <meta name="author" content="Hakim El Hattab">

    <meta name="viewport" content="width=800, user-scalable=no">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="../css/avgrund.css" type="text/css">
    <link rel="stylesheet" href="../css/demo.css" type="text/css">



</head>

<body>



    <article class="avgrund-contents">
        <h1>Adding Movie's Operation succeeded</h1>
        <p>
            You Used My Form To Add A New Movie
        </p>
        <a href='<%=Url%>'>
            <button class="button">Go To Movie's Page</button>
        </a>

        <p>
            I Hope You Like It !
            <%=Url%>
        </p>
        <small>
				Created by Akram O. Eltayeb<br>
				<a href="https://github.com/Akramosama121/">@AkramOsama121</a> 
			</small>

    </article>

    <div class="avgrund-cover"></div>

    <script type="text/javascript" src="js/avgrund.js"></script>



    <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

</body>

</html>